@import "../common/styles/sass/variables.scss";
@import "src/common/styles/sass/mixins";

.workBlock {
    height: 50vh;
    background-color: $bgColor;
    display: flex;

}

.smallWorkContainer {
    background: $bgSecondColor;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    height: auto;
    width: auto;
    overflow: visible;
}

.title {
    display: flex;
    align-items: flex-end;

    margin: 0 0px 50px;
    font-weight: 300;
    color: $textColor;
    text-transform: capitalize;
    letter-spacing: 5px;
    position: relative;

    @include text($titleFontFamily, 36px, 1.2);

}

.title h4 {
    margin: 0;
}

.title ::before {
    content: "";
    background: $primaryColor;
    width: 55px;
    height: 1px;
    position: absolute;

    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 50%);

}