@import "../common/styles/sass/variables.scss";

.workBlock {
    height: 50vh;
    background-color: $bgColor;
    display: flex;

}

.smallWorkContainer {
    background: $bgSecondColor;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    height: auto;
    width: auto;
    overflow: visible;
}

.title {
    display: flex;
    align-items: flex-end;

    margin: 0 0px 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: $textColor;
    text-transform: capitalize;

    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 5px;
    position: relative;


}

.title h4 {
    margin: 0;
}

.title ::before {
    content: "";
    background: $primaryColor;
    width: 55px;
    height: 1px;
    position: absolute;

    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 50%);


}