.workBlock {
    height: 50vh;
    background-color: #1f1f20;
    display :flex;

}

.smallWorkContainer {
    border: 1px solid black;
    margin:auto;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    display: flex;
   height: auto;
    width: auto;
    overflow: visible;
}
.title {
    display: flex;
    align-items: flex-end;

    margin: 0 0px 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: #fff;
    text-transform: capitalize;

    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 5px;
    position: relative;


}
.title h4{
    margin: 0;
}
.title ::before {
    content: "";
    background: #4e93e6;
    width: 55px;
    height: 1px;
    position: absolute;

    bottom: -30px;
    left: 50%;
    transform: translate(-50% , 50%);


}