@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.project {
  height: 100%;
  background-color: $bgColor;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .projectContainer {
    border: 1px solid white;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .smallContainer {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-top: 30px;
    }
  }

}

.smallProject {
  width: 100%;
  max-width: 400px;
  background: $bgSecondColor;

  .image {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /*для фоточек прозразных*/
    position: relative;

    .viewBtn {
      background-color: #ccccf5;
      padding: 10px 20px;
      position: relative;
      z-index: 1;
      color: $textColor;
      /*z-index: 1; для кнопки что бы из-под картинки появились*/

    }
  }

  .projectInfo {
    padding: 20px;

    .projectTitle {
      @include text($titleFontFamily, 16px, 1.2);

      letter-spacing: 1px;
      margin: 0 0 5px;
    }

    .description {
      @include text($TextFontFamily,14px,1.8);
      color: $textColor;
      font-weight: 400;
    }
  }

}

.image ::before {
  position: absolute;
  content: '';
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.4;
}

@media screen and (max-width: 1073px) {
  .smallContainer {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
  }
}

.title {
  display: flex;
  align-items: flex-end;

  margin: 0 0 30px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  color: #ece5e8;
  text-transform: capitalize;

  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 5px;
  position: relative;

}

.title h2 {
  margin: 0px;
}

.title ::before {
  content: "";
  background: $primaryColor;
  width: 55px;
  height: 1px;
  position: absolute;

  bottom: -30px;
  left: 50%;
  transform: translate(-50%, 50%);
}