.project {
    min-height: 100vh;
    background-color: #cb8f8f;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.title {
    background-color: #4eaca3;
    display: flex;
    align-items: flex-end;
}

.projectContainer {
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smallContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.smallProject {
    border: 1px solid #282626;
    width: 30vw;
}
.buttonDiv{
    height: 200px;
    justify-content: center;
    display: flex;
    align-items: center;
}
@media screen and (max-width: 1073px){
    .smallContainer{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100vh;
    }
}