@import "src/common/styles/sass/variables";
.skillsBlock {
    min-height: 100vh;
    background-color: $bgColor;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;

}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}

.title h2 {
    margin: 0;
}

.title ::before {
    content: "";
    background: $primaryColor;
    width: 55px;
    height: 1px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50% , 50%);
}

.title {
    display: flex;
    align-items: flex-end;

    margin: 0 0 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: $textColor;
    text-transform: capitalize;

    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 5px;
    position: relative;
}