@import "src/common/styles/sass/variables.scss";
@import "src/common/styles/sass/mixins";
.mainBlock {
    height: 100vh;
    background-color: $bgColor;
}
.text {
    width: 300px;
    background: $bgSecondColor;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #151556;
}

.title {
    display: flex;
    align-items: flex-end;

    margin: 0 0 30px;
    font-weight: 300;
    color: $textColor;
    text-transform: capitalize;
    letter-spacing: 5px;
    position: relative;

    @include text($titleFontFamily, 36px, 1.2);
}
.title h3{
    margin: 0;
}
.title ::before {
    content: "";
    background: $primaryColor;
    width: 55px;
    height: 1px;
    position: absolute;
}