@import "src/common/styles/sass/variables.scss";
.mainBlock {
    height: 100vh;
    background-color: $bgColor;
}
.text {
    width: 300px;
    background: $bgSecondColor;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #151556;
}

.title {
    display: flex;
    align-items: flex-end;

    margin: 0 0 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: $textColor;
    text-transform: capitalize;

    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 5px;
    position: relative;
}
.title h3{
    margin: 0;
}
.title ::before {
    content: "";
    background: $primaryColor;
    width: 55px;
    height: 1px;
    position: absolute;
}