@import "src/common/styles/sass/variables";
.projectButton {
    font-family: $TextFontFamily;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color:  #4e93e6;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
    border: none;

}
