@import "src/common/styles/sass/variables.scss";

.nav {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

a {
  color: $primaryColor;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}