@import "../sass/variables";

@mixin text( $fontFamily, $fontSize,$lineHeight)
{
  font-family: $fontFamily;
  font-size:  $fontSize;
  line-height: $lineHeight;
  color: $textColor;
}
//@include text($titleFontFamily, 16px, 1.2);