@import "src/common/styles/sass/variables.scss";

.footerContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background: $bgSecondColor;
    min-height: 28vh;
}
.nameBlock {
    height: auto;
    display: flex;
}

.smallBlock{
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.footerIcon{
    border: 1px solid black;
    width: 20px;

}
.iconAndText{
    display: flex;
}
.icon{
    border: 1px solid black;
    width: 13px;
    height: 13px;
}
.text{

}
.title{
   color: white;
}