@import "src/common/styles/sass/variables.scss";

.footerContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background: $bgSecondColor;
  min-height: 28vh;
}

.nameBlock {
  height: auto;
  display: flex;
}

.smallBlock {
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.footerIcon {
  border: 1px solid black;
  width: 20px;
  background-color: $textColor;
}

.iconAndText {
  display: flex;

}

.text {
  color: $textColor;

}

.title {
  color: $textColor;
}